body{
    font-family: 'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial;
    background-color: darkgreen;
    text-align: center;
    color: white;
    font-weight: bold;
}

h1{
    color: goldenrod;
}
#message-el{
    font-style: italic;
}

button{
    color: #016f32;
    width: 150px;
    background: goldenrod;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    margin-bottom: 4px;
    margin-top: 4px;
}
